.btn-new-request {
  margin-bottom: 10px;
}

.item_list {
  border-radius: 16px 16px;
  border-color: #fff;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-style: solid;
  border-width: 7px;
  background-color: #FFFFFF;
  margin-top: 15px;
  padding: 15px;
  color: #4d626f;
}


.padded {
  margin-top: 20px;
}


.top {
  border-radius: 16px 16px;
  border-color: #fff;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-style: solid;
  border-width: 7px;
  background-color: #FFFFFF;
  margin-top: 15px;
  padding: 15px;
  color: #64afe9;
}


.padding {
  margin-top: 20px;
}


ul {
  margin-left: 18px;
}
