.user {
  height: 30vh;
  margin-bottom: 30px;
  width: 100%;
  background-size: cover !important;
  display: inline-block;
  vertical-align: middle;
  float: none;
  color: white;
  background: linear-gradient(135deg, red, red 60%, blue);
}

.user h1 {
  margin-top: 40px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.avatar-large {
  padding: 5px;
}

.booking {
  border-radius: 16px 16px;
  border-color: #fff;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-style: solid;
  border-width: 7px;
  background-color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 50px;
  color: #4d626f;
  height: 400px;
  position: relative;
}

.booking i {
  font-size: 40px;
  color: #64afe9;
  margin: auto;
  position: absolute;
  top: -35px;
  background-color: white;
  border-radius: 50%;
  border: 10px solid white;
  left: 200px;
  right: 200px;
}

.booking-container {
  margin-bottom: 30px;
  margin-top: 50px;
  padding: 30px;
  background-color: #e8eef2;
  background-size: cover !important;
  padding-top: 60px;
}

.meeting-title {
  margin: -40px;
}

.meeting-title i {
  font-size: 60px;
  color: #64afe9;
  position: relative;
  top: -60px;
  background-color: #fafafa;
  border-radius: 50%;
  border: 10px solid #fafafa;
  margin: auto;
}

.form-margin {
  margin-bottom: 30px;
}

.round-btn {
  border-radius: 50px;
}

.date-size {
  width: 200px;
  margin: auto;
}


