<div class="banner" style="background-image: url(<%= image_path('tac-banner.png') %>)">
  <div>
    <h1>Don't Stay by Yourself</h1>
    <p>Get help from other techies around you</p>

    <form class="form-search" method="get" action="/skills">
        <input type="text" name="name" placeholder="browse skills...">
        <button type="submit">Search</button>
        <i class="fa fa-search"></i>
    </form>
<!-- form de search de cométence -->

  </div>
</div>


    <div class="features form-inline">
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-search" aria-hidden="true"></i>
            <h2>Look</h2>
            <p> Look for a skill </p>
          </div>
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
            <h2>Find</h2>
            <p> Find a professional </p>
          </div>
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <h2>Meet</h2>
            <p> Let's meet ! </p>
          </div>
        </div>
      </div>
    </div>
