<div class="banner" style="background-image: url(<%= image_path "background-home.jpeg" %>)">
  <div class="banner-content">
    <h1>Don't stay by yourself</h1>
    <p>Share your skills, or get some help from other techies</p>
  </div>
</div>
