<div class="banner" style="background-image: url(<%= asset_url "background-home.jpeg" %>)">
  <div class="banner-content">
    <h1>Don't Stay by Yourself</h1>
    <p>Get help from other techies around you</p>

    <form class="form-search" method="get" action="/skills">
        <input type="text" name="name" placeholder="browse skills...">
        <button type="submit">Search</button>
        <i class="fa fa-search"></i>
    </form>
<!-- form de search de cométence -->

  </div>
</div>

