<div class="banner" style="background-image: url(<%= image_path "background-home.jpeg" %>)">
  <div class="banner-content">
    <h1>Don't Stay by Yourself</h1>
    <p>Get help from other techies around you</p>
  </div>

<!-- form de search de cométence -->
  <form action="/skills" method="get">
    <input type="text" name="name" placeholder="What skill are your looking for?">
    <input type="submit">
  </form>
</div>

