.img_reference {
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  border: 1px solid #1FBED5;
}

.reference-list {
  margin-bottom: 50px;
}

.reference-list h2 {
  margin-bottom: 20px;
  color: #4d626f;
}

.reference-list p {
  margin-bottom: 20px;
  color: #4d626f;
  line-height: 30%;
}
