.wraper-text {
  color: #4d626f;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Raleway', sans-serif;
}

.underline-tagline {
  border-bottom: 1px solid #1FBED5;
  width: 100px;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.wraper-trust {

}
