// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

body {
background-color: #FAFAFA;
}

.item_list {
  border: 1px solid #E8E8E8;
  background-color: #FFFFFF;
  margin-bottom: 5px;
  border-radius: 3px;

}


.padded {
  margin-top: 10px;
}


.top {
  border: 1px solid #E8E8E8;
  background-color: #FFFFFF;
  margin-top: 15px;
}


.padding {
  margin-top: 20px;
}



.search {

}



ul {
  margin-left: 18px;
}






