// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "bootstrap-datepicker";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";



.item_list {
  border: 1px solid black;
  background-color: gray;
  margin-bottom: 5px;
  border-radius: 3px;

}


.padded {
  margin-top: 10px;
}


.top {
  border: 1px solid #DDDDDD;
}


.padding {
  margin-top: 20px;
}
